body {
    display: flex;
    flex-direction: column; 
    background-color: #f9f8f4; 
  }
  header {
    background-color: #f9f8f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80px;
  }
  .menu {
    /* padding: 1px; */
  }
  a {
    text-decoration: none;
    font-size: 13px;
    line-height: 0.8em;
    padding: 10px 0px 2px;
    margin: 15px 10px 0px;
    color: #333333;
    font-family: 'Inter', sans-serif;
  }
  .logo {
    font-family: Arial,sans-serif;
    font-size: 1em;
  }
  h1{
      z-index: 2;
      margin-top: 2.5em;
  }
  main {
    display: flex;
   flex-basis: 800px;
  /*   justify-content: center;
    align-content: stretch; */
    flex-grow: 2;
  }
  
  article {
    background-color: #f9f8f4;
    flex-basis: 60%;
    flex-grow: 1;
  }
#background {
    position: absolute;
    display: flex;
    margin-left: 3.2em;
    margin-top: 0em;
}
.lines {
    border-right: solid 1px rgba(0,0,0,0.07);
    width: 1px;
    height: 20em;
    margin: 0px 6px 0px 0px;
    /* animation: example 1.1s ease-in-out 0s 1 normal; */
    position: inline;
    z-index: 0;
    
}
  .intro {
    text-decoration: none;
    background-color: #f9f8f4;
    height: 20em;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    /* line-height: 2em; */
    padding: 0.5em;
    color: #181818;
    margin-left: 6em;
    font-weight: lighter;
    display: flex;
    flex-direction: row; 
    /* background-color: grey; */
    margin-top: 0.5em;
  }

  .stack {
    margin-top: 3.0em;
    margin-left: 2.0em;
    z-index: 1;
    line-height: 0.6em;
  }
  p{
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;
    font-family: Arial,sans-serif; /*just for now, look for Akriv Grotesk*/
    margin-top: 4.5em;
}
  .aboutMe {
    background-color: pink;
    height: 30em;
  }
 
  footer {
    background-color: #BFDFC4;
    display: flex;
    /* justify-content: center; */
    flex-direction: column; 
    flex-basis: 100px;
  }
  .connect {
      padding: 2em;
  }
  .projects {
    background-color: pink;
    height: 30em;
  }
  
  @media all and (max-width: 640px) {
    main {
      display: flex;
      flex-direction: column;
    
    }
    nav {
      order: 0;
    }
  }