body {
    display: flex;
    flex-direction: column; 
    background-color: #f9f8f4; 
  }
  header {
    background-color: #f9f8f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
  }
  .menu {
    padding: 15px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5em;
    /* padding: 0.5em; */
    padding: 10px 0px 2px;
    margin: 25px 12px 0px;
    color: #333333;
    font-family: 'Inter', sans-serif;
  }
  .logo {
    font-family: Arial,sans-serif;
    font-size: 2em;
  }
  main {
    display: flex;
   flex-basis: 800px;
  /*   justify-content: center;
    align-content: stretch; */
    flex-grow: 2;
  }
  
  article {
    background-color: #f9f8f4;
    flex-basis: 60%;
    flex-grow: 1;
  }
  #background {

  }
  .intro {
    text-decoration: none;
    background-color: #f9f8f4;
    height: 20em;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    /* line-height: 2em; */
    padding: 0.5em;
    color: #181818;
    margin-left: 6em;
    font-weight: lighter;
    display: flex;
    flex-direction: row; 
    /* background-color: grey; */
  }

  .stack {
    margin-top: 2.5em;
    margin-left: 0.5em;
  }
  p{
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;
    font-family: Arial,sans-serif; /*just for now, look for Akriv Grotesk*/
  }
  .aboutMe {
    background-color: pink;
    height: 30em;
  }
 
  footer {
    background-color: #BFDFC4;
    display: flex;
    /* justify-content: center; */
    flex-direction: column; 
    flex-basis: 100px;
  }
  .connect {
      padding: 2em;
  }
  .projects {
    background-color: pink;
    height: 30em;
  }
  
  @media all and (max-width: 640px) {
    main {
      display: flex;
      flex-direction: column;
    
    }
    nav {
      order: 0;
    }
  }